@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
  }
}

.animated-shape {
  position: absolute;
  border-radius: 20%;
  filter: blur(120px);
  opacity: 0.6;
  pointer-events: none;
}

.shape1 {
  width: 500px;
  height: 400px;
  background: #096FFC;
  top: -30%;
  left: 0%;
  rotate: 20deg;
  animation: move 5s infinite alternate ease-in-out;
}

.shape2 {
  width: 500px;
  height: 400px;
  background: #096FFC;
  top: -30%;
  left: 70%;
  rotate: -10deg;
  animation: move 7s infinite alternate ease-in-out -5s;
}

.shape3 {
  width: 750px;
  height: 400px;
  background: #096FFC;
  top: -30%;
  left: 30%;
  animation: move 10s infinite alternate ease-in-out -10s;
}

@keyframes move {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  100% {
    transform: translate(100px, 50px) scale(1.2) rotate(10deg);
  }
}